<footer>
    <div class="container-fluid" id="footMain">
        <div class="row-fluid">
            <div class="pull-right">
                <h6>Axon Information Systems &copy; 2013</h6>
            </div>
        </div>
    </div>
</footer>
