@{
    ViewBag.Nav = "Reports";
}

<div class="page-header">
    <div class="">
        <strong>
            <a href="#">Reports</a>
            <small>Generate reports on tickets</small>
        </strong>

    </div>
</div>

<div class="page_content">
    
</div>