<div class="panel panel-primary">
    <div class="panel-heading">Ticket Thread</div>
    <div class="panel-body">
        <div class="ticket_show">
            <ol class="conversation_thread" id="original_request">
                <li class="conversation">
                    <div class="avatar-wrap">
                        <div class="preview_pic">
                            <img alt="" src="/Content/img/profile_blank_thumb.gif">
                        </div>
                    </div>
                    <div class="commentbox">
                        <h2 class="subject ">
                            {{newTicket.Subject}}
                        </h2>
                        <div class="author-mail-detail">
                            <div>
                                <strong class="username">{{newTicket.AssignedBy.FullName}}</strong>
                                reported on <label>{{newTicket.CreatedAt | date:'dd MMMM yyyy - h:mm:a'}}</label>
                            </div>
                        </div>
                        <div id="ticket_original_request">
                            <div>This is the decription of the problem. Call me if you don't understand.</div>
                        </div>
                    </div>
                </li>
            </ol>

            <ol class="conversation_thread" id="all_notes" ng-repeat="comment in newTicket.Comments">
                <li class="conversation ">
                    <div class="avatar-wrap">
                        <div class="preview_pic">
                            <img alt="" src="/Content/img/profile_blank_thumb.gif">
                        </div>
                    </div>
                    <div class="commentbox commentbox-gray">
                        <div class="">
                            <div class="author-mail-detail">
                                <strong class="username">{{comment.CreatedBy.FullName}}</strong> commented on {{comment.CreatedAt | date:'dd MMMM yyyy - h:mm:a'}}
                            </div>

                            <div class="details">
                                {{comment.Comment}}
                            </div>
                        </div>
                    </div>

                </li>

            </ol>

            <ol class="redactor conversation_thread">
                <li class="conversation">
                    <div class="avatar-wrap">
                        <div class="preview_pic">
                            <img alt="" src="/Content/img/profile_blank_thumb.gif">
                        </div>
                    </div>
                    <div class="commentbox commentbox-gray">
                        <div id="TicketForms">
                            <div class="request_panel" id="cnt-note" style="display: block;">
                                <div class="" id="HelpdeskNotes">
                                    <div class="form_title">Add comment  <button class="btn btn-primary pull-right" ng-click="postComment(comment)"><i class='glyphicon glyphicon-comment ax_icon'></i>Post Comment</button></div>
                                    <textarea class="form-control" rows="5" cols="10" ng-model="comment"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
            </ol>

        </div>
    </div>
</div>
