<div class="panel panel-primary">
    <div class="panel-heading">
        Tickets
        <div class="btn_div">
            <button ng-show="selectedProject" type="button" class="btn btn-default" ng-click="showCreateTicket()"><i class="iconfa-tag"></i>Create Ticket</button>
        </div>
    </div>
    <div class="panel-body">
        <div id="ticket-list-body">
            <div id="ticket-list-body-content" ng-show="tickets">
                <div id="tickets-expanded">
                    <div id="ticket-list" class="">
                        <table class="tickets">
                            <tbody>
                                <tr ng-repeat="ticket in tickets">
                                    <td class="priority-border priority-{{ticket.Priority.Name | lowercase}}"></td>
                                    <td class="name">
                                        <div>
                                            <div class="preview_pic">
                                                <img alt="agent image" src="/Content/img/profile_blank_thumb.gif">
                                            </div>
                                        </div>
                                        <div class="ticket_subject">
                                            <h3 class="new_ticket">
                                                <a href="#/ticket/TicketThread/{{ticket.Id}}">{{ticket.Title}}<span class="ticket_id"> #{{ticket.Code}}</span></a>
                                            </h3>

                                            <div class="info-data hideForList">
                                                <div><strong>From:</strong><span class="lval">{{ticket.AssignedBy.FullName}}</span></div>
                                                <div><strong>Created:</strong><span class="lval">{{ticket.CreatedAt}}</span></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="ralign hideForList">
                                        <span class="new subject_style">{{ticket.Type.Name}}</span>
                                    </td>

                                    <td class="assign">
                                        <ul>
                                            <li class="quick-action">
                                                <label>Agent: </label>
                                                <span class="result">{{ticket.AssignedTo.FullName}}</span>
                                            </li>
                                            <li class="quick-action">
                                                <label>Status: </label>
                                                <span class="result">{{ticket.Status.Name}}</span>
                                            </li>
                                            <li class="quick-action">
                                                <label>Priority: </label>
                                                <span class="result">{{ticket.Priority.Name}}</span>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>