@{
    ViewBag.Nav = "Config";
}
<div class="page-header">
    <div>
        <strong>
            <a href="#">Configuration</a>
            <small>Set up system lookup and default values</small>
        </strong>
    </div>
    
</div>

<div class="row page_content" ng-controller="LookUpController">
    <div class="row">
        <button type="button" ng-show="lookUpModel" class='btn btn-primary' ng-click="showNewLookUp()" data-toggle="modal" href="#lookUp_form">
            <i class='glyphicon glyphicon-plus-sign ax_icon'></i>Add {{lookUpModel.name}}
        </button>
        
        <div class="pull-right col-sm-3">
            <select id="lookUpModel" ng-model="lookUpModel" class='form-control'
                    name="lookUpModel" ng-options='model as model.name for model in lookUpModels'
                    ng-change="selectModel()"></select>
        </div>
    </div>
    
    <div class="panel panel-primary">
        <div class="panel-heading">{{lookUpModel.name}}</div>
        <div class="panel-body">
            <table class='table table-striped table-bordered ax_table table-condensed'>
                <thead>
                    <tr>
                        <th class="ax_grid_action1">#</th>
                        <th>Name</th>
                        <th>Describtion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="lookUp in lookUps" ng-click="editLookUp(lookUp)" class="link-row">
                        <td>{{$index + 1}}</td>
                        <td>{{lookUp.Name}}</td>
                        <td>{{lookUp.Description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    

    @Html.Partial("_LookUpForm")

    <div class="modal fade delete_confirmation" id="confirm_delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">×</a>
                    <h5>{{lookUpModel.name}}</h5>
                </div>
                <div class="modal-body">
                    <p class="confirm">
                        <img src="~/Content/img/warning.png" />Are you sure you want to delete this {{lookUpModel.name}}?
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="deleteLookUp()"><i class='iconfa-check'></i>Yes </button>
                    <button class="btn btn-default" data-dismiss="modal"><i class='iconfa-ban-circle'></i>No</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/app/controllers/LookUpsController.js"></script>
}
