<div class="modal fade" id="team_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{ formTitle }}</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label" for="Name">Name:</label>
                        <div class="controls">
                            <input type="text" id="Name" class="form-control" value="" ng-model="newTeam.Name" required="required" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="Description">Description:</label>
                        <div class="controls">
                            <textarea id="Description" class="form-control" ng-model="newTeam.Description" cols="5" rows="5"></textarea>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label">Members:</label>
                        <div class="controls">
                            <select multiple="" ui-select2="membersOptions" class="form-control non_input_control" ng-model="newTeam.Members"
                                    ng-options="agent as agent.FullName for agent in agents"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-show="newTeam.TeamId" class="btn btn-danger pull-left" ng-click="confirmDelete(newTeam)"><i class="glyphicon glyphicon-remove"></i>Delete</button>
                <button class="btn btn-primary" ng-click="saveTeam(newTeam)"><i class='iconfa-save'></i>Save </button>
                <button class="btn btn-default" data-dismiss="modal"><i class='iconfa-ban-circle'></i>Cancel</button>
            </div>
        </div>
    </div>
</div>
