@{
    Layout = null;
}
<div class="page-header">
    <div class="">
        <strong>
            <a href="#">User Managements</a>
            <small>Create user and assign privileges</small>
        </strong>

    </div>
</div>

<div class="row page_content">
    <div class="row">
        <div class="btn-group">
            <button class='btn btn-primary' ng-click="showNewUser()" data-toggle="modal" data-target="#user_form">
                <i class='fa fa-user'></i>Add User
            </button>
        </div>

        <div class="pull-right col-sm-3">
            <input type="text" class="form-control" ng-model="searchText" placeholder="Search User" />
        </div>
    </div>


    <div class="panel panel-primary">
        <div class="panel-heading">Users</div>
        <table class='table table-condensed table-hover'>
            <thead>
                <tr>
                    <th class="ax_grid_action1">#</th>
                    <th>Username</th>
                    <th>Full Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users | filter:searchText" ng-click="editUser(user)" class="link-row">
                    <td>{{$index + 1}}</td>
                    <td>{{user.UserName}}</td>
                    <td>{{user.FullName}}</td>
                    <td>{{user.PhoneNumber}}</td>
                    <td>{{user.Email}}</td>
                </tr>
            </tbody>
        </table>
    </div>


    @Html.Partial("_UserForm")

    <div class="modal fade delete_confirmation" id="confirm_delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">×</a>
                    <h5>User</h5>
                </div>
                <div class="modal-body">
                    <p class="confirm">
                        <img src="~/Content/img/warning.png" alt="" />Are you sure you want to delete this user?
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="deleteUser()"><i class='iconfa-check'></i>Yes </button>
                    <button class="btn btn-default" data-dismiss="modal"><i class='iconfa-ban-circle'></i>No</button>
                </div>
            </div>
        </div>
    </div>

</div>
